.main-content {
    padding: var(--spacing-md) ;
    max-width: 100%;
    margin: 20px 0 0 0 !important;
    /* Offset for fixed header */
    background-color: var(--background-color) !important;
    font-family: var(--font-primary);
    transition: background-color var(--transition-speed),
        color var(--transition-speed);
}

/* Sections */
.dashboard-cards-section,
.latest-orders-section {
    margin-bottom: var(--spacing-md);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .main-content {
        padding: var(--spacing-sm);
        margin-top: var(--header-height);
    }

    .dashboard-cards-section,
    .latest-orders-section {
        margin-bottom: var(--spacing-sm);
    }
}

@media (max-width: 576px) {
    .main-content {
        padding: var(--spacing-xs);
    }
}